@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center d-flex flex-column align-items-center">

    <h1 class="display-4">Editar contato</h1>

    <form class="w-50 text-start">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" placeholder="Nome do contato" >
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" placeholder="Email do contato">
        </div>
        <div class="mb-3">
            <label for="celular" class="form-label">Celular</label>
            <input type="text" class="form-control" placeholder="Número de celular do contato">
        </div>

        <button type="submit" class="btn btn-primary">Alterar contato</button>
        <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
    </form>
</div>
